@media screen and (max-width: 520px) {
	.section-title {
		font-size: 32px;
	}

	.section-description {
		font-size: 14px;
		color: #bababa;
	}

	.navbar {
		padding: 1.3rem 1rem;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		gap: 1.5rem;
	}

	.navbar .nav-header .menu-icon {
		display: block;
	}

	.navbar .nav-header {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.navbar .nav-item {
		flex-direction: column;
		gap: 2rem;
	}

	.navbar .nav-header a {
		font-size: 24px;
	}

	.nav-item .active {
		display: flex;
	}

	.none {
		display: none;
	}

	.hero {
		padding: 0 1rem;
	}

	.hero h1 {
		font-size: 43px;
	}

	.hero span {
		font-size: 16px;
	}

	#about {
		padding: 2rem 1rem;
	}

	.about-features {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		justify-content: center;
	}

	.feature-card {
		width: 100%;
	}

	#exercises {
		padding: 2rem 1rem;
	}

	.exercise-container {
		display: flex;
		flex-direction: column;
	}

	#benefits {
		padding: 5rem 1rem;
	}

	.benefit-container {
		display: flex;
		flex-direction: column;
	}
}
